---
layout: archive
---

<p>Text Machine Laboratory is a research group in machine learning for NLP, led by Anna Rumshisky.
  Our home is University of Massachusetts (Lowell). Head over to the group website for more info about the current group members,
  a full list of our projects, and contact information. Here you will find blog posts accompanying our recent papers.</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}