---
layout: archive
---

<p>Text Machine Laboratory is a research group in machine learning for NLP, 
  led by <a href="http://www.cs.uml.edu/~arum">Anna Rumshisky</a> (<a href="http://twitter.com/arumshisky"><span class="label"><i class="fa fa-twitter"></i> 
  Twitter</span></a>).
  Our home is University of Massachusetts Lowell. Head over to <a href="http://text-machine.cs.uml.edu">the group website</a> 
  for more info about the current group members, a full list of our projects, and contact information. 
  Here you will find blog posts accompanying our recent papers, as well as other related musings.</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
